<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eap.form">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_eap_new_el"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3nGcEIe1kpkhr3cxm8ROKls5xrCi5EVU" />
        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".ErasmusActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".FormActivity" />
        <activity android:name=".DeleteActivity" />
        <activity android:name=".DigitalClockActivity" />
        <activity android:name=".AnalogClockActivity" />

    </application>

</manifest>